* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 58px;
}

.header-menu {
  display: flex;
  padding: 18px 80px;
}

.header-menu-item {
  color: #fff;
  margin-right: 26px;
}

.header-menu-item:first-child {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  align-items: center;
}

.header-company-name {
  color: #fff;
  text-transform: uppercase;
  transition: 600ms;
}

.header-company-name:hover {
  color: #226d47;
}

.image-calendar,
.image-mail,
.image-compass {
  transition: 600ms;
}

.header-calendar-logo:hover .image-calendar {
  fill: #01813f;
}

.header-mail-logo:hover .image-mail {
  fill: #01813f;
}

.header-compass-logo:hover .image-compass {
  fill: #01813f;
  transition: 600ms;
}

.header-menu-item:nth-child(2) {
  margin-left: auto;
}

.header-menu:last-child {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
}

.header-login {
  color: #fff;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  transition: 600ms;
}

.header-login:hover {
  color: #226d47;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 58px);
}

.main-container {
  width: 444px;
  height: 584px;
  background-color: #ffffff;
  padding: 30px 60px 38px 60px;
  position: relative;
}

.main-container::before {
  content: '';
  background-color: #3cb878;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 0;
  top: 29px;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

.form-header-sign {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #434343;
}

.form-header-log {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3cb878;
  margin-bottom: 15px;
  transition: 600ms;
}

.form-header-log:hover {
  color: rgba(1, 129, 63, 1);
}

.form-button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}

.form-button-facebook {
  background-color: rgba(48, 93, 184, 1);
  padding: 14px 17px 14px 67px;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 160px;
  height: 48px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  transition: 600ms;
}

.form-button-facebook:hover {
  background: #022263;
}

.form-button-facebook::before {
  content: '';
  background-image: url(../images/logo-fb.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 24px;
  width: 15px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
}

.form-button-facebook::after {
  content: '';
  border-right: 1px solid #2b56aa;
  height: 25px;
  width: 2px;
  position: absolute;
  left: 47px;
  top: 50%;
  transform: translate(0, -50%);
  transition: 600ms;
}

.form-button-facebook:hover::after {
  border-right: 1px solid #0a162f;
}

.form-button-google {
  background-color: rgba(223, 74, 50, 1);
  padding: 14px 27px 14px 80px;
  border: none;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  color: #fff;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  position: relative;
  transition: 600ms;
}

.form-button-google:hover {
  background: #ab1f09;
}

.form-button-google::before {
  content: '';
  background-image: url(../images/logo-g+.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 19px;
  width: 30px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
  transition: 600ms;
}

.form-button-google::after {
  content: '';
  border-right: 1px solid #cd442e;
  height: 25px;
  width: 2px;
  position: absolute;
  left: 47px;
  top: 50%;
  transform: translate(0, -50%);
  transition: 600ms;
}

.form-button-google:hover:after {
  border-right: 1px solid #9e1d09;
}

.form-text {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #848484;
  position: relative;
  margin-bottom: 12px;
}

.form-text::before {
  content: '';
  border-top: 1px solid #f2f2f2;
  position: absolute;
  height: 1px;
  width: 47%;
  left: 0;
  top: 50%;
}

.form-text::after {
  content: '';
  border-top: 1px solid #f2f2f2;
  position: absolute;
  height: 1px;
  width: 47%;
  right: 0;
  top: 50%;
}

.form-input {
  display: block;
  width: 100%;
  height: 44px;
  margin-bottom: 15px;
  border: 1px solid rgba(242, 242, 242, 1);
  border-radius: 4px;
  padding-left: 20px;
  padding-block: 15px 15px;
}

::placeholder {
  color: rgba(190, 190, 190, 1);
}

.form-input:focus {
  outline: rgba(242, 242, 242, 1);
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  transition: 600ms;
}

.checkbox-item {
  display: none;
}

.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid rgba(242, 242, 242, 1);
  position: relative;
  vertical-align: middle;
}

.checkbox:hover {
  border-color: rgba(242, 242, 242, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
  transition: 600ms;
}

.checkbox::before {
  content: '';
  background-image: url(../images/checkbox-mark.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  left: 1px;
  height: 20px;
  width: 20px;
  opacity: 0;
  transition: 600ms;
}

.checkbox-item:checked + .checkbox::before {
  opacity: 1;
}

.form-terms {
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 20px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #434343;
}

.form-terms-link {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(60, 184, 120, 0.8);
  transition: 600ms;
}

.form-terms-link:hover {
  color: #01813f;
}

.button-submit {
  background-color: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  padding: 16px 99px;
  font-family: 'Ubuntu';
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  transition: 600ms;
}

.button-submit:hover {
  background: #01813f;
}
